<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Wordpress Notification</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="manifest" href="manifest.json">
</head>

<body>
  <div class="uk-container">
    <section id="app" class="uk-section">
      <h1 class="uk-heading-divider">Hello</h1>
      <p>This is my experiment about firebase cloud messaging</p>
      <p>You will see an incoming notification when your wordpress.com site updated.</p>

      <div class="uk-alert uk-alert-success" v-if="state==='GRANTED'">
        <p>You are <strong>subscribed</strong> to the push notification</p>
        <div class="uk-form-stacked">
          <div>
            <label class="uk-form-label">Current Token</label>
            <div class="uk-form-controls">
              <textarea class="uk-textarea" rows="5" v-model="currentToken" disabled></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-alert uk-alert-danger" v-if="state==='INITIAL'">
        <p>You are <strong>not subscribed</strong> to the push notification</p>
      </div>

      <div class="uk-alert">
        Try to send notification via POST request using CURL or POSTMAN.
        <pre>
https://fcm.googleapis.com/fcm/send
Content-Type: application/json
Authorization: key=AIzaSyC...akjgSX0e4    // firebase cloud messaging server key

{ "notification": {
    "title": "Background Message Title",
    "body": "Background message body",
    "click_action" : "https://dummypage.com"
  },
  "to" : "eEz-Q2sG8nQ:APA91bHJQRT0JJ..."    // currentToken of the client
}
        </pre>
      </div>
      <div class="uk-alert">
        Reference :
        <ul>
          <li><a href="https://firebase.google.com/docs/cloud-messaging/js/client">https://firebase.google.com/docs/cloud-messaging/js/client</a></li>
          <li><a href="https://firebase.google.com/docs/cloud-messaging/js/receive">https://firebase.google.com/docs/cloud-messaging/js/receive</a></li>
        </ul>
      </div>
    </section>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-messaging.js"></script>
  <script src="js/index.js"></script>
</body>

</html>